.navbar-container {
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  color: rgba(1, 1, 8, 0.753);
  background: linear-gradient(
    to bottom,
    rgba(6, 132, 210, 0.856),
    rgba(15, 255, 255, 0.6)
  );
  /*background-image: url("imagen.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;*/

  box-shadow: 0 0 52px 0 rgba(45, 237, 255, 0.849);

  position: fixed; /* Hacer que el navbar sea fijo */
  top: 0; /* Fija en la parte superior */
  width: 88%;
  z-index: 1000; /* Asegurar que el navbar esté por encima de otros elementos */
}

.logo img {
  height: 70px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0; /* Elimina margen predeterminado */
}

.nav-links li {
  margin-right: 50px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: rgb(1, 176, 162);
}
